<div class="container left">
    <article>
        <a href="/dashboard">&larr; Back to dashboard</a>
        <h2>Edit Post</h2>
        <form class="edit-post-form">
            <div>
                <input name="pet_name" type="text" value="{{post.pet_name}}"/>
            </div>
            <div>
                {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
                
                <a href="/post/{{post.id}}">{{post.comments.lenth}} {{format_plural "comment" post.comments.length}}</a>
            </div>
            <button type="submit">Save Post</button>
            <button class="delete-post-btn" type="button">Delete Post</button>
        </form>

    </article>

    <form class="comment-form">
            <div>
                <textarea name="comment-body"></textarea>
            </div>
            <div>
                <button type="submit">add comment</button>
            </div>
    </form>

    {{> comments post.comments}}    
</div>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
